__pycache__
.conda
.venv
dist
build
.vscode
.idea
.settings
.spyproject
.project
.pydevproject
.mypy_cache
.eggs
docs/html/.buildinfo
docs/html/.doctrees
docs/doctrees
ib_insync.egg-info
*.log
*.csv
notebooks/data
notebooks/logs
notebooks/*.csv
notebooks/*.log
*.ffs_db
execs*.json
trades*.json
*.xlsx
*.tmp
*.html
*-prod-*.py
resampleinline-24*.py